<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
  </node>
  <!-- rviz -->
  <!--<node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />-->
 <!-- <include file="$(find rs_to_velodyne)/launch/rs2velodyne.launch" />  -->
 <!--<include file="$(find realsense2_camera)/launch/rs_camera.launch" />--> 
 <!-- <include file="$(find eimu)/launch/eimu.launch" />  -->

</launch>
